body {
    /* font-family: sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 ;
}
.center-row-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    align-items: center;
}
.start-row-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-justify-content: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-box-align: start;
    align-items: flex-start;
}
.end-row-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-justify-content: flex-end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-align-items: flex-end;
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-box-align: end;
    align-items: flex-end;
}
.column-start-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-justify-content: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-box-align: start;
    align-items: flex-start;
}
.column-center-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    align-items: center;
}
.column-end-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-align-items: flex-end;
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-box-align: end;
    align-items: flex-end;
}
.full-width {
    width: 100vw;
}
#header {
    height: 10vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: black;
    color: white;
    z-index: 1000;
}
#body-root {
    margin-top: 10vh;
    max-width: 100vw;
    overflow-x: hidden;
}
#logo-holder {
    height: 100%;
    margin-left: 2.5vw;
    width: 15vw;
}
#nav-links-holder {
    width: 85vw;
    font-size: 20px;
}
#nav-logo-txt {
    color: white;
    white-space: nowrap;
    text-decoration: none;
    font-size: 1.5vw;
    text-transform: uppercase;
}
.nav-link-holder {
    margin-right: 1.5vw;
    margin-left: 1.5vw;
}
.nav-link {
  white-space: nowrap;
    color: white;
    font-size: 1.25vw;
    text-decoration: none;
}

.nav-link-intext {
      color: orange;
      text-decoration: underline;
}
.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .1s;
}
.nav-link:hover::after {
    width: 100%;
    transition: width .3s;
}
#nav-hooks-holder {
    margin-left: 5vw;
}
.nav-hook-holder {
    margin-right: 1vw;
    margin-left: 1vw;
}
.nav-hook {
    white-space: nowrap;
    width: 5vw;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-size: 1.25vw;
    text-decoration: none;
    text-transform: uppercase;
}
.splash-screen {
    width: 100vw;
    height: 55vh;
}
#rocketry-splash {
    background-image: url('/static/rocket.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#rocketry-splash2 {
    background-image: url('/static/rocket_flying.jpg');
    background-position: 50% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
#cubesat-splash {
    background-image: url('/static/cubesat-3.jpg');
    background-repeat: no-repeat;
    background-position: 50% 15%;
    background-size: cover;
}
#ev-splash {
    background-image: url('/static/drone.jpg');
    background-repeat: no-repeat;
    background-position: 50% 15%;
    background-size: cover;
}
#tarc-splash {
    background-image: url('/static/TARC_launch.jpeg');
     background-position: 50% 50%;
     background-size: cover;
     background-repeat: no-repeat;
}
.splash-info-holder {
    padding-bottom: 10vh;
}
.splash-header {
    color: white;
    text-align: center;
    font-size: 20px;
}
.splash-button {
    margin-top: 2vh;
    font-size: 20px;
    color: white;
    border: 1px solid white;
    position: relative;
  display:block;
  margin: 10px 7px;
  padding: 5px 10px;
  font-weight: 700;
  letter-spacing: 2px;
  /*color: #383736;*/
  /*border: 2px #383736 solid;*/
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}
.splash-button:hover {
  color: whitesmoke;
  border-color: #383736;
}

.splash-button:before {
  content: "";
  position: absolute;
  background: #383736;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

.splash-button:hover:before {
  top: 0;
}

#content-title {
    padding-top: 4vh;
    padding-left: 5vw;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
}

.content-title {
    padding-top: 4vh;
    padding-left: 5vw;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
}

#content-title-main {
    padding-top: 4vh;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
}

#projects-holder {
    padding-bottom: 4vh;
    padding-top: 4vh;
}
.project {
    padding: 24px;
    margin-right: 2.5vw;
    margin-left: 2.5vw;
    min-height: 225px;
    width: 25vw;
    height: 35vh;
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.project-img {
    width: 100%;
    height: 20vh;
    min-height: 142px;
    object-fit: cover;
}
.project-description {
    margin-top: 5px;
    margin-bottom: 4px;
    font-size: 17px;
    color: black;
}
.project-title {
    color: black;
    font-size: 20px;
    margin-bottom: 5px;
}
.project-link {
    color: black;
    width: 20%;
    display: inline;
}
.project-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: black;
    transition: width .1s;
}
.project-link:hover {
    color: black;
}
.project-link:hover::after {
    width: 30%;
    transition: width .3s;
}
.form {
    margin-top: 10vh;
    -moz-box-shadow: 0 5px 7px 0 rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 5px 7px 0 rgba(0,0,0,0.25);
    box-shadow: 0 5px 7px 0 rgba(0,0,0,0.25);
    width: 60vw;
    margin-bottom: 10vh;
}
#form-title {
    padding-top: 2vh;
    padding-left: 2vw;
    font-size: 25px;
    font-weight: 600;
}
#inputs-holder {
    margin-top: 2.5vh;
    width: 100%;
}
.names-inputs-holder {
    width: 100%;
    margin-left: 3vw;
}
.fname-input-holder {
    margin-right: 2.5vw;
}
.lname-input-holder {
    margin-left: 2.5vw;
}
input {
    margin-top: 1vh;
    height: 2.5vh;
    border: 1px solid black;
    border-radius: 3px;
    width: 10vw;
}
input:focus {
    outline: none;
}
.input-group-holder {
    margin-top: 2vh;
    padding-left: 3vw;
}
select:focus {
    outline: none;
    margin-top: 1vh;
}
.submit-button-holder {
    width: 100%;
    margin-top: 2vh;
}
.submit-button {
    height: 15%;
    width: 40%;
    text-align: center;
    position: relative;
  display:block;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  color: #383736;
  border: 2px #383736 solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}
.submit-button:hover {
  color: whitesmoke;
}

.submit-button:before {
  content: "";
  position: absolute;
  background: #383736;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}
.submit-button:hover:before {
  top: 0;
}
.mission-holder {
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}
.mission-content {
    width: 20vw;
}
.gate-button {
    width: 15vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}
.gate-title {
    font-size: 25px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.headshot {
    border-radius: 50%;
    margin-top: 4vh;
    width: 10vw;
    height: 10vw;
    overflow: hidden;
}
.subtitle {
    margin-top: 5vh;
    margin-left: 2vw;
    font-size: 20px;
    font-weight: 600;
}
.leadership-text {
    margin-left: 4vw;
}
textarea {
    width: 100%;
    height: 15vh;
    resize: none;
    border: 1px solid black;
    border-radius: 3px;
    margin-top: 1vh;
}
textarea:focus {
    outline: none;
}
.textarea-input-holder {
    width: calc(100% - 6vw);
}

#about-us {
  line-height: 4vh;
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
}

#sponsor-text {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 60px;
  text-align: center;
}
.mission-p {
  text-align: justify;
  width: 95%;
}
.mission-holder {
  width: 20vw;
}
.mission-title {
  text-align: center;
  width: 100%;
  padding-top: 4vh;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
}
.person-title {
  padding-right: 5vw;
}
.dark {
  color: #383736;
  border-color: #383736;
}
.dark:hover {
  color: whitesmoke;
}
@media screen and (min-aspect-ratio: 100/101) {
  .mobile-dropdown-holder {
    display: none;
  }
  .mission-content-holder-2 {
    padding-left: 5vw;
    height: 25vh;
  }
}
@media screen and (max-aspect-ratio: 1/1) {
  #header {
    height: 8vh;
  }
  .gate-button {
    font-size: 2vw;
  }
  input {
    width: 20vw;
  }
  #body-root {
    margin-top: 8vh
  }
  #nav-logo-txt {
    font-size: 18px;
    position: absolute;
    left: 1.5vw;
  }
  #logo-holder {
    position: relative;
    width: 50vw;
    height: 8vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-justify-content: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-box-align: start;
    align-items: flex-start;
  }
  #about-us {
    margin-left: 2vw;
    margin-right: 2vw;
  }
  .mobile-hamburger  {
    height: 5vh;
    width: 5vh;
  }
  #nav-links-holder {
    display: none;
  }
  .logo-holder {
    margin-right: 65vw;
  }
  .mobile-dropdown-holder {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-justify-content: flex-end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-align-items: flex-end;
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-box-align: end;
    align-items: flex-end;
    width: 50vw;
    padding-right: 1.5vw;
  }
  #projects-holder {
    flex-wrap: wrap;
  }
  .splash-screen {
    height: 40vh;
  }
  .project {
    min-width: 280px;
    margin-top: 4vh;
  }
  #join-form {
    margin-top: 3vh;
    width: 100vw;
    box-shadow: none;
  }
  .nav-link-holder, .nav-hook-holder {
    margin-top: 3vh;
  }
  .splash-header {
    color: #383736;
  }
  .splash-button {
    color: #383736;
    border-color: #383736;
  }
  .nav-link {
    font-size: 3vh;
  }
  .project {
    height: auto;
  }
  .full-height {
    height: 100vh;
  }
  .mission-holder {
    width: 100vw;
  }
  #mobile-header {
    position: fixed;
    top: 8vh;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,.9);
    color: white;
    z-index: 1000;
  }
  .info-holder {
    flex-wrap: wrap;
  }
  .headshot {
    width: 10vh;
    height: 10vh;
  }
  .person-title {
    width: calc(93vw - 10vh);
    padding-right: 5vw;
  }
  #sponsor-form {
    width: 100vw;
    margin-top: 4vh;
    box-shadow: none;
  }
  #sponsor-text {
    margin: 0;
    margin-left: 1.5vh;
    margin-top: 4vh;
    width: 90vw;
    padding-right: 2vw;
    padding-left: 2vw;
  }
  .mission-content-holder-2 {
    padding-left: 5vw;
  }
}

#mission-content {
  width: 60vw;
}

.more-info-page {
  margin-left: 70px;
  margin-top: auto;
}

#regular-text {
  padding-left: 30px;
  padding-right: 100px;
  font-size: 20px;
}

.schedule-date {
  font-size: 25px;
  margin: 3px;
  padding-left: 20px;
}

.schedule-title {
  font-size: 20px;
  margin: 3px;
  padding-left: 10px;
}

.schedule-text {

  margin: 4px;
  padding-left: 10px;
  width: 20vw;
}
h1 {
  font-size: inherit;
  color: inherit;
  display: inline;
  font-weight: inherit;
  margin: 0;
}
