{% extends "layout.html" %}
{% block title %}Rocketry{% endblock %}
{% block meta %}
<meta name="description" content="NYC Aerospace is a non-profit organization based in New York that designs and builds high power rockets, and is in the process of sending a cubeSAT to space. Our mission is to launch a spectrometer into inner-earth orbit utilizing CubeSAT technology. This will make us one of the only schools in the United States to launch a fully-capable satellite and collect data from it while it is in space.">
{% endblock %}
{% block main %}
<div id="cubesat-splash" class="splash-screen column-end-flex" style="display: -webkit-flex; display: -ms-flexbox; display: flex;">
    <div class="splash-info-holder full-width column-end-flex">
        <div class="splash-header full-width center-row-flex" style="color: #383736"><h1>We are building and launching a satellite into space</h1></div>
        <div class="center-row-flex full-width">
            <a href="/join" style="text-decoration: none;"><div class="dark splash-button">Join</div></a>
        </div>
    </div>
</div>
<!--<div id="projects-holder" class="full-width center-row-flex">-->
<div class="info-holder center-row-flex">
  <div class="mission-holder column-start-flex">
    <div class="mission-title center-row-flex"><h1>Background</h1></div>
    <div class="mission-content-holder start-row-flex">
        <p class="mission-content mission-p">The CubeSAT initiative was originally created by Mr. Thomas, the AP of Physics and Chemistry at Stuyvesant High School. Since our beginnings in February of 2019 we have reached out to multiple companies and manufacturers, and are partnering with the PRISMS school in New Jersey to help us build and design our technology.</p>
    </div>
  </div>
  <div class="mission-holder column-start-flex">
    <div class="mission-title center-row-flex"><h1>Mission</h1></div>
    <div class="mission-content-holder start-row-flex">
        <p class="mission-content mission-p">Our mission is to launch a spectrometer into inner-earth orbit utilizing CubeSAT technology. This will make us one of the only schools in the United States to launch a fully-capable satellite and collect data from it while it is in space.</p>
    </div>
  </div>
  <div class="mission-holder column-start-flex">
    <div class="mission-title center-row-flex"><h1>Skills</h1></div>
    <div class="mission-content-holder start-row-flex">
        <p class="mission-content mission-p">We are currently looking for expertise in multiple fields, including but not limited to optics, chemistry, hardware design, circuitry, material physics, projectile physics, computer programming, metalworking, thrust design, and many other fields.</p>
    </div>
  </div>
  <div class="mission-holder column-start-flex">
    <div class="mission-title center-row-flex">Commitment and daily activities</div>
    <div class="mission-content-holder start-row-flex">
        <p class="mission-content mission-p">Our CubeSAT initiative is currently split into two separate main goals: the CubeSAT and the spectrometer. Designing a spectrometer from scratch and implementing it into existing CubeSAT technology is a challenge that we are currently working on. Other challenges include data collection systems and developing new space-grade technology.</p>
    </div>
  </div>
</div>
<div class="more-info-page">
  <p id="content-title-main">CubeSAT Opportunities for Members<p>
  <p id="regular-text">NYC Aerospace is planning on submitting a proposal to a NASA program in which they take several CubeSATs into space as secondary payloads on the Artemis 2 mission. To apply the CubeSAT team will need to come up with and submit a separate proposal. The proposal can be found <a href="https://www.fbo.gov/index?s=opportunity&mode=form&tab=core&id=53a620f9a8e18e6ec41037891505bdb3" target="_blank">here</a>. If you are a student interested in participating in this unique mission please reach out to us at either nycaerospace@gmail.com or leon@nycaerospace.org.</p>
  <p id="regular-text">We hope to, in the near future, collaborate with the High-Power Rocketry team to build our own satellite and rocket. The goal of this mission would be to independently create our own satellite mission. Though ambitious, we believe this goal is entirely achievable with dedicated members at our side. If you are interested in helping us start and eventually achieve this goal please reach out to us at either nycaerospace@gmail.com or leonsmaksin@gmail.com.</p>
</div>
<!--</div>-->
{% endblock %}
