{% extends "layout.html" %}
{% block title %}Rocketry{% endblock %}
{% block meta %}
<meta name="description" content="NYC Aerospace is a non-profit organization based in New York that designs and builds high power rockets">
{% endblock %}
{% block main %}
<div id="ev-splash" class="splash-screen column-end-flex" style="display: -webkit-flex; display: -ms-flexbox; display: flex;">
    <div class="splash-info-holder full-width column-end-flex">
        <div class="splash-header full-width center-row-flex" style="color: ##e8e8e8"><h1>Helping aspiring engineers develop products</h1></div>
        <div class="center-row-flex full-width">
            <a href="/join" style="text-decoration: none;"><div class="dark splash-button">Get involved</div></a>
        </div>
    </div>
</div>
<!--<div id="projects-holder" class="full-width center-row-flex">-->
<div class="info-holder center-row-flex">
  <div class="mission-holder column-start-flex">
    <div class="mission-title center-row-flex"><h1>Background</h1></div>
    <div class="mission-content-holder start-row-flex">
        <p class="mission-content mission-p">The incubator program of NYC Aerospace aspires to help young, often first time, entrepreneurs and engineers address real world problems through creating new products with a focus on Aerospace engineering.
</p>
    </div>
  </div>
  <div class="mission-holder column-start-flex">
    <div class="mission-title center-row-flex"><h1>Skills</h1></div>
    <div class="mission-content-holder start-row-flex">
        <p class="mission-content mission-p">Skills really depend on what type of problem you're addressing, but above all, you will need to show initiative, passion and drive. There will be times when it looks like your product is stupid or useless or has already failed, but you will need to keep pushing. We welcome both technical and business oriented founders.</p>
    </div>
  </div>
  <div class="mission-holder column-start-flex">
    <div class="mission-title center-row-flex">Commitment and daily activities</div>
    <div class="mission-content-holder start-row-flex">
        <p class="mission-content mission-p">In order to create a new product, and even more so a business around it, you will need to dedicate more time and effort than you can possibly imagine. At this stage you might think your project is simple, but as you continue to do research and develop it further, you will find that it will take a lot more than you think.</p>
    </div>
  </div>
</div>
<!--</div>-->
{% endblock %}
