{% extends "layout.html" %}
{% block title %}Rocketry{% endblock %}
{% block meta %}
<meta name="description" content="NYC Aerospace is a non-profit organization based in New York that designs and builds high power rockets">
{% endblock %}
{% block main %}
<div id="ev-splash" class="splash-screen column-end-flex" style="display: -webkit-flex; display: -ms-flexbox; display: flex;">
    <div class="splash-info-holder full-width column-end-flex">
        <div class="splash-header full-width center-row-flex" style="color: ##e8e8e8"><h1>Let's wire electronics</h1></div>
        <div class="center-row-flex full-width">
            <a href="/join" style="text-decoration: none;"><div class="dark splash-button">Join</div></a>
        </div>
    </div>
</div>
<!--<div id="projects-holder" class="full-width center-row-flex">-->
<div class="info-holder center-row-flex">
  <div class="mission-holder column-start-flex" style="height: 45vh">
    <div class="mission-title center-row-flex"><h1>Background</h1></div>
    <div class="mission-content-holder start-row-flex">
        <p class="mission-content mission-p">The Electronics department produces remote gadgets and vehicles, and was incorporated into NYC Aeropsace August, 2019. Electronics now produces electronics for other divisions and sponsors solo projects.
</p>
    </div>
  </div>
  <div class="mission-holder column-start-flex" style="height: 45vh">
    <div class="mission-title center-row-flex"><h1>Mission</h1></div>
    <div class="mission-content-holder start-row-flex"
        <p class="mission-content mission-p">The mission of Electronics is to fund and support the building of drones, RC planes, weather balloons, and other individual products by students. A major project we are currently working on are building and launching a weather balloon to record atmospheric data and measurements and send back live feed to our division in the air. Electronics also aims to provide other NYC Aerospace departments with funtioning electronics.</p>
    </div>
  </div>
  <div class="mission-holder column-start-flex" style="height: 45vh">
    <div class="mission-title center-row-flex"><h1>Skills</h1></div>
    <div class="mission-content-holder start-row-flex">
        <p class="mission-content mission-p">The skills that we're based are electrical engineering, mechanical engineering skills, metalworking, computer programming, soldering, and CAD expertise. New members who don’t lack these skills can be taught easily, and will be a crucial part of the department.</p>
    </div>
  </div>
  <div class="mission-holder column-start-flex" style="height: 45vh">
    <div class="mission-title center-row-flex">Commitment and daily activities</div>
    <div class="mission-content-holder start-row-flex">
        <p class="mission-content mission-p">The hobby section of the Electronics department is a low commitment division. However, the electronic design component of this division will occasionaly have deadlines to meet in order to stay in line with other teams. Individuals may bring a project of interest to Electronics, which we can then help to develop and fund.</p>
    </div>
  </div>
</div>
<!--</div>-->
{% endblock %}
