{% extends "layout.html" %}
{% block title %}Rocketry{% endblock %}
{% block meta %}
<meta name="description" content="NYC Aerospace is a non-profit organization based in New York that designs and builds high power rockets">
{% endblock %}
{% block main %}
<div id="cubesat-splash" class="splash-screen column-end-flex" style="display: -webkit-flex; display: -ms-flexbox; display: flex;">
    <div class="splash-info-holder full-width column-end-flex">
        <div class="splash-header full-width center-row-flex" style="color: #383736"><h1>Let's build some electronics</h1></div>
        <div class="center-row-flex full-width">
            <a href="/join" style="text-decoration: none;"><div class="dark splash-button">Join</div></a>
        </div>
    </div>
</div>
<!--<div id="projects-holder" class="full-width center-row-flex">-->
<div class="info-holder center-row-flex">
  <div class="mission-holder column-start-flex" style="height: 45vh">
    <div class="mission-title center-row-flex"><h1>Background</h1></div>
    <div class="mission-content-holder start-row-flex">
        <p class="mission-content mission-p">The electronic vehicles department started in the summer of 2019, as a separate hobby entity for producing remote gadgets and vehicles, and merged with NYC Aerospace in August. Since then it builds electronics for other divisions as well as sponsors solo projects.
</p>
    </div>
  </div>
  <div class="mission-holder column-start-flex" style="height: 45vh">
    <div class="mission-title center-row-flex"><h1>Mission</h1></div>
    <div class="mission-content-holder start-row-flex">
        <p class="mission-content mission-p">The mission of this department is to fund and improve the building of drones and RC planes by students and to use cameras to record videos on these videos. In addition, we plan to build and launch a weather balloon to take some atmospheric data and measurements, as well as send back live feed to our division in the air.
</p>
    </div>
  </div>
  <div class="mission-holder column-start-flex" style="height: 45vh">
    <div class="mission-title center-row-flex"><h1>Skills</h1></div>
    <div class="mission-content-holder start-row-flex">
        <p class="mission-content mission-p">This department is based in some engineering skills both with aerobatics, but also electronics and metal. Computer programming, Soldering, and CAD will be used, but new members who don’t have these abilities will be taught.</p>
    </div>
  </div>
  <div class="mission-holder column-start-flex" style="height: 45vh">
    <div class="mission-title center-row-flex">Commitment and daily activities</div>
    <div class="mission-content-holder start-row-flex">
        <p class="mission-content mission-p">We are a lower commitment division as we don’t have any hard deadlines to meet as a group and are an individual based group. However, the weather balloon will require a 9+ hour weekend day to assemble and watch, and then retrieve. Finally, if an individual or small comes with a project, they can set an meet all their own deadlines which may be of higher commitment within the division.</p>
    </div>
  </div>
</div>
<div class="more-info-page">
  <p id="content-title-main">CubeSAT Opportunities for Members<p>
  <p id="regular-text">NYC Aerospace is planning on submitting a proposal to a NASA program in which they take several CubeSATs into space as secondary payloads on the Artemis 2 mission. To apply the CubeSAT team will need to come up with and submit a separate proposal. The proposal can be found <a href="https://www.fbo.gov/index?s=opportunity&mode=form&tab=core&id=53a620f9a8e18e6ec41037891505bdb3" target="_blank">here</a>, and the deadline for our submission is November 4, 2019. If you are a student interested in participating in this unique mission please reach out to us at either nycaerospace@gmail.com or leonsmaksin@gmail.com.</p>
  <p id="regular-text">We hope to, in the near future, collaborate with the High-Power Rocketry team to build our own satellite and rocket. The goal of this mission would be to independently create our own satellite mission. Though ambitious, we believe this goal is entirely achievable with dedicated members at our side. If you are interested in helping us start and eventually achieve this goal please reach out to us at either nycaerospace@gmail.com or leonsmaksin@gmail.com.</p>
</div>
<!--</div>-->
{% endblock %}
