{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block meta %}
<meta name="description" content="NYC Aerospace is a non-profit organization based in New York that designs and builds high power rockets, and is in the process of sending a cubeSAT to space.">
{% endblock %}
{% block main %}
<img style="display: none;" src="/static/TARC_launch.jpeg">
<img style="display: none;" src="/static/cubesat-3.jpg">
<img style="display: none;" src="/static/rocket.jpg">
<p style="display: none;"  id="index">1</p>
<div id="rocketry-splash" class="splash-screen column-end-flex" style="display: -webkit-flex; display: -ms-flexbox; display: flex;">
    <div class="splash-info-holder full-width column-end-flex">
        <div class="splash-header full-width center-row-flex">Designing, manufacturing, and launching<br>high power rockets</div>
        <div class="center-row-flex full-width">
            <a href="/join" style="text-decoration: none;"><div class="splash-button">Join</div></a>
        </div>
    </div>
</div>
<div id="cubesat-splash" class="splash-screen column-end-flex" style="display: none;">
    <div class="splash-info-holder full-width column-end-flex">
        <div class="splash-header full-width center-row-flex" style="color: #383736;">Launching a Cube Satellite into orbit</div>
        <div class="center-row-flex full-width">
            <a href="/join" style="text-decoration: none;"><div class="dark splash-button">Join</div></a>
        </div>
    </div>
</div>
<div id="tarc-splash" class="splash-screen column-end-flex" style="display: none;">
    <div class="splash-info-holder full-width column-end-flex">
        <div class="splash-header full-width center-row-flex">Competing in the <br>American Rocketry Challenge</div>
        <div class="center-row-flex full-width">
            <a href="/join" style="text-decoration: none;"><div class="splash-button">Join</div></a>
        </div>
    </div>
</div>
<div id="home-content" class="full-width column-start-flex">
    <div id="content-title-main" class="full-width center-row-flex"><h1>About Us</h1></div>
        <p id="about-us" class="project-description">NYC Aerospace is a registered 501(c)(3) organization centered around bringing opportunities to students interested in the aerospace industry. We strive to create opportunities within the aerospace industries for all NYC students, regardless of class and location. NYC Aerospace is the <i>only</i> organization in New York City, and possibly in the United States, that provides easy access to resources for young aerospace enthusiasts. NYC Aerospace's origins come from the Stuyvesant Rocketry Team's ambitious mission to incorporate students from other schools. It was then that we realized the hidden talent many NYC students have. We have members from <b>9</b> schools and universities currently on board, as well as students participating on their own, and only hope to grow that number. We hope that NYC Aerospace will become a staple in the many opportunities New York City provides to its students.</p>
        <div id="content-title-main" class="full-width center-row-flex"
          <h1>Our divisions</h1>
        </div>
        <div class="full-width center-row-flex">
          <img src="static/city.png" class="city-img">
        </div>
    <div id="content-title-main" class="full-width center-row-flex">Our Current Projects</div>
    <div id="projects-holder" class="full-width center-row-flex">
        <div class="project column-start-flex">
            <a href="/tarc" style="display: block; text-decoration: none; text-color: black;">
                <div class="project-title">TARC</div>
                <img class="project-img" src="/static/TARC_launch.jpeg">
                <div class="project-description">Competing in the American Rocketry Challenge</div>
                <p class="project-link">Learn more &#8594;</p>
            </a>
        </div>
        <div class="project column-start-flex">
            <a href="/cubesat" style="display: block; text-decoration: none; text-color: black;">
                <div class="project-title">CubeSAT</div>
                <img class="project-img" src="/static/cubesat-2.jpg">
                <div class="project-description">Working towards making and sending a functioning satellite into low earth orbit.</div>
                <p class="project-link">Learn more &#8594;</p>
            </a>
        </div>
        <div class="project column-start-flex">
            <a href="/rocketry" style="display: block; text-decoration: none; text-color: black;">
                <div class="project-title">High-Power Rocketry</div>
                <img class="project-img" src="/static/rocket_launch.jpg">
                <div class="project-description">Working towards making and flying a rocket to over 100,000 feet.</div>
                <p class="project-link">Learn more &#8594;</p>
            </a>
        </div>
      </div>
      <div id="projects-holder" class="full-width center-row-flex">
        <div class="project column-start-flex">
            <a href="/electronics" style="display: block; text-decoration: none; text-color: black;">
                <div class="project-title">Electronic Vehicles</div>
                <img class="project-img" src="/static/plane.jpg">
                <div class="project-description">Building high-tech drones</div>
                <p class="project-link">Learn more &#8594;</p>
            </a>
        </div>
        <div class="project column-start-flex">
            <a href="/rocked" style="display: block; text-decoration: none; text-color: black;">
                <div class="project-title">RockED</div>
                <img class="project-img" src="/static/Chalkboard.jpeg">
                <div class="project-description">Educating our generation</div>
                <p class="project-link">Learn more &#8594;</p>
            </a>
        </div>
        <div class="project column-start-flex">
            <a href="/summer-program" style="display: block; text-decoration: none; text-color: black;">
                <div class="project-title">Summer Program?</div>
                <img class="project-img" src="/static/coming-soon.jpg">
                <div class="project-description">Coming soon...</div>
                <p class="project-link">Learn more &#8594;</p>
            </a>
        </div>
    </div>
</div>
<script src="/static/home.js"></script>
{% endblock %}
