 {% extends "layout.html" %}
{% block title %}Join{% endblock %}
{% block main %}
<div class="full-width column-start-flex">
    <div class="gate-title project-title full-width center-row-flex">Join as:</div>
    <div class="full-width center-row-flex">
        <a href="/join?type=individual" style="text-decoration: none;"><div class="gate-button submit-button">Individual</div></a>
        <a href="/join?type=corporation" style="text-decoration: none;"><div class="gate-button submit-button">Corporation</div></a>
        <a href="/join?type=school" style="text-decoration: none;"><div class="gate-button submit-button">School</div></a>
    </div>
</div>
{% endblock %}
