{% extends "layout.html" %} {% block title %}Our Team{% endblock %} {% block main %}
<div id="content-title" class="full-width start-row-flex">Our Team</div>
<div class="mission-content-holder-2 full-width start-row-flex">
    <div class="column-start-flex">
        <div class="person-title subtitle">Leon Maskin: Founder & CEO</div>
        <p id="mission-content" class="leadership-text mission-p">
            Leon Maksin is the original founder and CEO of NYC Aerospace. Beginning with his childhood dream of building and launching a rocket into outer space, Leon originally founded the Stuyvesant Rocketry Team in the Spring of 2018. Since then, Leon managed
            to grow the organization and help develop the multiple projects that make NYC Aerospace what it is today. Leon is also the President of the TARC and CubeSAT initiatives and helps run the other projects for NYC Aerospace.
        </p>
    </div>
</div>
<div class="mission-content-holder-2 full-width start-row-flex">
    <div class="column-start-flex">
        <div class="person-title subtitle">Sofiane Larbi: Co-Founder & CTO</div>
        <p id="mission-content" class="leadership-text mission-p">Ever since he was a little kid, Sofiane Larbi has been interested in aeronautics and technology. With a group of friends, he formed the high power rocketry team and later incorporated it into NYC Aeronautics. Sofiane Larbi built this website and
            manages technological and engineering aspects of NYC Aerospace, including programming and engineering rocket design.</p>
    </div>
</div>
<div class="mission-content-holder-2 full-width start-row-flex">
    <div class="column-start-flex">
        <div class="person-title subtitle">Cheryl Edison: Advisor</div>
        <p id="mission-content" class="leadership-text mission-p">Cheryl Edison is an entrepreneur and senior global business development executive. Her works spans fifty-seven industries, on five continents. Quoted by USA Today, NPR and CNN, with articles reporting on her most recent work in FastCompany, the
            Silicon Valley Business Times and Yahoo Finance, Edison provides advisory and presentations to start-ups, Fortune 100 corporations, property developers, civic leaders and universities to achieve milestone ROI, innovation acceleration, fundraising
            and startup ecosystem goals.</p>
    </div>
</div>
<div class="mission-content-holder-2 full-width start-row-flex">
    <div class="column-start-flex">
        <div class="person-title subtitle">Saad Naji: Executive Vice President, Manager of High Powered Rocketry and Coordinator.</div>
        <p id="mission-content" class="leadership-text mission-p">Saad is always trying to learn more about physics and engineering. This passion has stayed with him and spread to his friends which ultimately led to the creation of the High-Powered-Rocketry team. Currently he manages, teaches, and leads team
            meetings. </p>
    </div>
</div>

<div class="mission-content-holder-2 full-width start-row-flex">
    <div class="column-start-flex">
        <div class="person-title subtitle">Jakob Gorisek-Gazze: RockED President & Regional Director Manhattan</div>
        <p id="mission-content" class="leadership-text mission-p">Jakob Gorisek-Gazze has had a lifelong love of engineering. One that he wishes to share with others. He launched his first rockets in middle school, and uses his extensive knowledge of aerospace engineering and Computer Aided Design to lead the
            design process in the American Rocketry Challenge and other NYC Aerospace projects. More than anything, he wants others to have the same privilige to love aerospace like he does. </p>
    </div>
</div>
<div class="mission-content-holder-2 full-width start-row-flex">
    <div class="column-start-flex">
        <div class="person-title subtitle">Al-Nahian Akbar: Regional Director Bronx</div>
        <p id="mission-content" class="leadership-text mission-p">
            To Al-Nahian, Aerospace means more than an organization, it means turning dreams into reality. Al-Nahian loves to create, he finds passion in designing and creating, and Aerospace gives him the opportunity to do just that. At Bronx Science, Al-Nahian’s
            passion for teaching gives him courage to educate those who seek information about his passion, creating.
        </p>
    </div>
</div>
<div class="mission-content-holder-2 full-width start-row-flex">
    <div class="column-start-flex">
        <div class="person-title subtitle">Matthew Bilik: Regional Director Brooklyn</div>
        <p id="mission-content" class="leadership-text mission-p">
            Matthew Bilik is an experienced computer and data scientist with months of work with NASA under his sleeve. Specifically, he has worked on Landsat 8 and MODIS Aqua and Terra satellites at the NASA Goddard Institute for Space Studies / Columbia Earth Institute
            joint lab.
        </p>
    </div>
</div>
<div class="mission-content-holder-2 full-width start-row-flex">
    <div class="column-start-flex">
        <div class="person-title subtitle">Georgiy Aleksanyan: Regional Director New Jersey</div>
        <p id="mission-content" class="leadership-text mission-p">
            After joining NYC Aerospace, he has served a significant role in restructuring the organization and establishing a division at Rutgers University. Currently, he is working on various outreach initiatives as well as helping guide the organization by directly
            working on the executive board to fulfill the vision of the aerospace industry being accessible to all.
        </p>
    </div>
</div>
<div class="mission-content-holder-2 full-width start-row-flex">
    <div class="column-start-flex">
        <div class="person-title subtitle">Yousef Amin: Regional Director Staten Island</div>
        <p id="mission-content" class="leadership-text mission-p">
            Since learning more about rocketry concerning popular sci-fi movies like Interstellar and The Martian, Yousef’s been dedicating his free time to developing prototypes for eco-friendly rockets. He envisions a future where humans can inhabit Mars and other
            extraterrestrial lands. While proposing research to the team, Yousef devotes his team to teaching Staten Island middle school students about aerospace engineering.
        </p>
    </div>
</div>
{% endblock %}