{% extends "layout.html" %}
{% block title %}Our Team{% endblock %}
{% block main %}
<div id="content-title" class="full-width start-row-flex">Our Team</div>
<div class="mission-content-holder-2 full-width start-row-flex">
    <img class="headshot" src="/static/leon_maskin.jpg">
    <div class="column-start-flex">
        <div class="subtitle">Leon Maskin: Founder & CEO</div>
        <p id="mission-content" class="leadership-text">Leon Maksin is the original founder and CEO of NYC Aerospace. Beginning with his childhood dream of building and launching a rocket into outer space, Leon originally founded the Stuyvesant Rocketry Team in the Spring of 2018. Since then, Leon managed to grow the organization and help develop the multiple projects that make NYC Aerospace what it is today. Leon is also the President of the TARC and CubeSAT initiatives and helps run the other projects for NYC Aerospace.</p>
    </div>
</div>
<div class="mission-content-holder-2 full-width start-row-flex">
    <img class="headshot" src="/static/sofiane_larbi.jpg">
    <div class="column-start-flex">
        <div class="person-title subtitle">Sofiane Larbi: Executive Vice President, President of High Power Rocketry and IAVs, & CTO</div>
        <p id="mission-content" class="leadership-text mission-p">Ever since he was a little kid, Sofiane Larbi has been interested in aeronautics and technology. With a group of friends, he formed the high power rocketry team and later incorporated it into NYC Aeronautics. Sofiane Larbi built this website and manages the technological aspects of NYC Aerospace.</p>
    </div>
</div>
<div class="mission-content-holder-2 full-width start-row-flex">
    <img class="headshot" src="/static/jude_rizzo.JPG">
    <div class="column-start-flex">
        <div class="person-title subtitle">Jude Rizzo: CFO, Electronics President, Cohead of High Power Rocektry</div>
        <p id="mission-content" class="leadership-text mission-p">Jude Rizzo is a long time math and physics enthusiast. He enjoys launching mid and high power rockets as well as building other aerial vehicles such as drones for photography.</p>
    </div>
</div>
<div class="mission-content-holder-2 full-width start-row-flex">
    <img class="headshot" src="/static/jakob_gorisek-gazze.jpg">
    <div class="column-start-flex">
        <div class="person-title subtitle">Jakob Gorisek-Gazze: Co-head of Operations and RockED President</div>
        <p id="mission-content" class="leadership-text mission-p">Jakob Gorisek-Gazze has had a lifelong love of engineering. He launched his first rockets in middle school, and has since relentlessly pursued ever more ambitious projects, be they higher, faster, or crazier.</p>
    </div>
</div>
<div class="mission-content-holder-2 full-width start-row-flex">
    <img class="headshot" src="/static/kristoff_misquitta.jpg">
    <div class="column-start-flex">
        <div class="person-title subtitle">Kristoff Misquitta: Co-Head of Operations</div>
        <p id="mission-content" class="leadership-text mission-p">Kristoff Misquitta blends a passion for aerospace engineering with a love of molecular biology, tackling challenges like creating a novel morphing wing design for commercial aircraft or crafting an experiment to test PCR on the International Space Station. He is inspired by space’s countless mysteries and wants to be part of the push to probe them, beginning with management at NYC Aerospace.</p>
    </div>
</div>
<div class="mission-content-holder-2 full-width start-row-flex">
    <img class="headshot" src="/static/matthew_bilik.jpg">
    <div class="column-start-flex">
        <div class="person-title subtitle">Matthew Bilik: CubeSAT and Space Technologies Co-President</div>
        <p id="mission-content" class="leadership-text mission-p">Matthew Bilik is an experienced computer and data scientist with months of work with NASA under his sleeve. Specifically, he has worked on Landsat 8 and MODIS Aqua and Terra satellites at the NASA Goddard Institute for Space Studies / Columbia Earth Institute joint lab.</p>
    </div>
</div>
{% endblock %}
