{% extends "layout.html" %}
{% block title %}Rocketry{% endblock %}
{% block meta %}
<meta name="description" content="NYC Aerospace is a non-profit organization based in New York that designs and builds high power rockets, and is in the process of sending a cubeSAT to space. Our mission is to push the boundries of what has been accomplished by amateurs and break records. We want to send a rocket to 100,000 feet or more which we will design and manufacture ourselves from skratch. We will also make guidance software to allow our rockets to act as missiles or launch projectiles accurately like ICMBs.">
{% endblock %}
{% block main %}
<div id="rocketry-splash2" class="splash-screen column-end-flex" style="display: -webkit-flex; display: -ms-flexbox; display: flex;">
    <div class="splash-info-holder full-width column-end-flex">
        <div class="splash-header full-width center-row-flex"><h1>Help send a rocket to 100,000 feet.</h1></div>
        <div class="center-row-flex full-width">
            <a href="/join" style="text-decoration: none;"><div class="splash-button">Join</div></a>
        </div>
    </div>
</div>
<div class="info-holder center-row-flex">
  <div class="mission-holder column-start-flex">
    <div class="mission-title center-row-flex"><h1>Background</h1></div>
    <div class="mission-content-holder start-row-flex">
        <p class="mission-content mission-p">Initially starting as a separate organization, the high power rocketry department was incorporated into NYC Aerospace in July 2019. We are working to develop our ability to design and manufacture high complexity rockets, and hopefully move on to jets and guided missiles. Knowledge of this technology is one of the most powerful assets a country can have, as it confers a decisive advantage in warfare and power projection.</p>
    </div>
  </div>
  <div class="mission-holder column-start-flex">
    <div class="mission-title center-row-flex"><h1>Mission</h1></div>
    <div class="mission-content-holder start-row-flex">
        <p class="mission-content mission-p">Our mission is to push the boundaries of what has been accomplished by amateurs and break records. We want to send a rocket to 100,000 feet or more which we will design and manufacture ourselves from scratch.</p>
    </div>
  </div>
  <div class="mission-holder column-start-flex">
    <div class="mission-title center-row-flex"><h1>Skills</h1></div>
    <div class="mission-content-holder start-row-flex">
        <p class="mission-content mission-p">The skills required are heavily dependent on which subdivision you will be working in. The skills in highest demand are experience in hardware programming (ie. arduino, raspberry pi), higher mathematics, thermodynamics, advanced physics and chemistry. If you do not possess any of these skills, do not worry. We will help you come up with a plan to foster a useful skill. What we most need are people who are driven, determined, resourceful, and detail oriented.</p>
    </div>
  </div>
  <div class="mission-holder column-start-flex">
    <div class="mission-title center-row-flex">Commitment and daily activities</div>
    <div class="mission-content-holder start-row-flex">
        <p class="mission-content mission-p">We plan to move quickly and rapidly improve our technology. In order to do this, all members must fulfill their tasks assigned my their managers. Tasks will be divided so you will not have an overwhelming amount of work individually, but this arrangement depends on everyone completing the assignments assigned to them.</p>
    </div>
  </div>
</div>
{% endblock %}
