{% extends "layout.html" %}
{% block title %}Rocketry{% endblock %}
{% block meta %}
<meta name="description" content="NYC Aerospace is a non-profit organization based in New York that designs and builds high power rockets, and is in the process of sending a cubeSAT to space. Our mission is to launch a spectrometer into inner-earth orbit utilizing CubeSAT technology. This will make us one of the only schools in the United States to launch a fully-capable satellite and collect data from it while it is in space.">
{% endblock %}
{% block main %}
<div id="rocked-splash" class="splash-screen column-end-flex" style="display: -webkit-flex; display: -ms-flexbox; display: flex;">
    <div class="splash-info-holder full-width column-end-flex">
        <div class="splash-header full-width center-row-flex" style="color: #383736"><h1>If just one person leaves us inspired, we've made our leap for mankind.</h1></div>
        <div class="center-row-flex full-width">
            <a href="/join" style="text-decoration: none;"><div class="dark splash-button">Join</div></a>
        </div>
    </div>
</div>
<!--<div id="projects-holder" class="full-width center-row-flex">-->
<div class="info-holder center-row-flex">
  <div class="mission-holder column-start-flex">
    <div class="mission-title center-row-flex"><h1>Background</h1></div>
    <div class="mission-content-holder start-row-flex">
        <p class="mission-content mission-p">RockED began as a realization that many students in New York City do not get the same opportunity as us to pursue their passions for STEM or aerospace. Without proper support, such dreams can become nearly impossible to realize when surrounded by buildings in the city. RockED was founded to provide educational outreach and support to anyone who is interested in STEM or aerospace in New York City. To those who dream big, we will help you succeed.</p>
    </div>
  </div>
  <div class="mission-holder column-start-flex">
    <div class="mission-title center-row-flex"><h1>Mission</h1></div>
    <div class="mission-content-holder start-row-flex">
        <p class="mission-content mission-p">Our goal at RockED is to reach out to provide STEM and aerospace learning opportunities to students around New York City who do not have them. In the rapidly growing aerospace industry, introducing new people to the field becomes increasingly more vital.</p>
    </div>
  </div>
  <div class="mission-holder column-start-flex">
    <div class="mission-title center-row-flex"><h1>Get Involved!</h1></div>
    <div class="mission-content-holder start-row-flex">
        <p class="mission-content mission-p">If you have bright ideas, are interested in engineering, or are just curious, contact us and let us know! We are always happy to reach out and help you and your community pursue your passion, and we hope that you can help us foster that same passion in others!</p>
    </div>
  </div>
  <div class="mission-holder column-start-flex">
    <div class="mission-title center-row-flex">What Do We Do?</div>
    <div class="mission-content-holder start-row-flex">
        <p class="mission-content mission-p">We are organizing public workshops/presentations at locations around New York City, including an upcoming event at the Lift Off! Brooklyn Kite Festival. Topics covered include an introduction to NYC Aerospace, "What is STEM/Aerospace?", and most importantly, a brief look into what you can do to pursue an interest, or even a career in aerospace! Workshop activities are designed to introduce students to the basics of engineering, physics, and rocketry through hands on experiences and design competitions. You can participate in our workshops and then go on to learn in other departments of NYC Aerospace, or with our support, start you own aerospace organization at your school or with friends! Be sure to add your team to the NYC Aerospace network!</p>
    </div>
  </div>
</div>
{% endblock %}
