{% extends "layout.html" %}
{% block title %}Rocketry{% endblock %}
{% block meta %}
<meta name="description" content="NYC Aerospace is a non-profit organization based in New York that designs and builds high power rockets, and is in the process of sending a cubeSAT to space. Our mission is to launch a spectrometer into inner-earth orbit utilizing CubeSAT technology. This will make us one of the only schools in the United States to launch a fully-capable satellite and collect data from it while it is in space.">
{% endblock %}
{% block main %}
<div id="cubesat-splash" class="splash-screen column-end-flex" style="display: -webkit-flex; display: -ms-flexbox; display: flex;">
    <div class="splash-info-holder full-width column-end-flex">
        <div class="splash-header full-width center-row-flex" style="color: #383736"><h1>One Small Step to Learning, A Giant Leap to the Future</h1></div>
        <div class="center-row-flex full-width">
            <a href="/join" style="text-decoration: none;"><div class="dark splash-button">Join</div></a>
        </div>
    </div>
</div>
<!--<div id="projects-holder" class="full-width center-row-flex">-->
<div class="info-holder center-row-flex">
  <div class="mission-holder column-start-flex" style="height: 45vh">
    <div class="mission-title center-row-flex"><h1>Background</h1></div>
    <div class="mission-content-holder start-row-flex">
        <p class="mission-content mission-p">RockED began as a realization. A realization that many students in New York City do not get the opportunity to pursue careers in STEM, even more so in regards to aerospace. Without proper support, such interests can become nearly impossible to realize. RockED was founded to provide this support structure to anyone who is interested in STEM and aerospace in New York. We help you succeed.</p>
    </div>
  </div>
  <div class="mission-holder column-start-flex" style="height: 45vh">
    <div class="mission-title center-row-flex"><h1>Mission</h1></div>
    <div class="mission-content-holder start-row-flex">
        <p class="mission-content mission-p">Our goal at RockED is to provide outreach and learning opportunities to students in New York in engineering and aerospace.</p>
    </div>
  </div>
  <div class="mission-holder column-start-flex" style="height: 45vh">
    <div class="mission-title center-row-flex"><h1>Get Involved!</h1></div>
    <div class="mission-content-holder start-row-flex">
        <p class="mission-content mission-p">If you have bright ideas, are interested in engineering, or are just curious, then contact us and let us know! We are always happy to reach out and help you and your community pursue your passion, and we hope that you can help us foster the same passion in others!</p>
    </div>
  </div>
  <div class="mission-holder column-start-flex" style="height: 45vh">
    <div class="mission-title center-row-flex">What Are We Doing?</div>
    <div class="mission-content-holder start-row-flex">
        <p class="mission-content mission-p">We will be presenting and hosting workshops at high schools throughout New York. Topics covered include a brief introduction to NYC Aerospace and our goals, What is STEM, and most importantly, what can you do to pursue an interest, or even a career in STEM and aerospace? During workshops we will introduce students to the basics of engineering, physics, and rocketry through hands on activities and design competitions. You can participate and go on to learn in other departments of NYC Aerospace, or with our support, start you own aerospace organization at your school or with friends!</p>
    </div>
  </div>
</div>
{% endblock %}
