{% extends "layout.html" %}
{% block title %}Rocketry{% endblock %}
{% block main %}
<div id="tarc-splash" class="splash-screen column-end-flex" style="display: -webkit-flex; display: -ms-flexbox; display: flex;">
    <div class="splash-info-holder full-width column-end-flex">
        <div class="splash-header full-width center-row-flex">Help win the American Rocketry Challenge</div>
        <div class="center-row-flex full-width">
            <a href="/join" style="text-decoration: none;"><div class="splash-button">Join</div></a>
        </div>
    </div>
</div>
<div class="info-holder center-row-flex">
  <div class="mission-holder column-start-flex">
    <div class="mission-title center-row-flex">Background</div>
    <div class="mission-content-holder start-row-flex">
        <p class="mission-content mission-p">Initially starting off as the Stuyvesant Rocketry Team, our TARC initiative was the very first mission which brought our leadership team together. Our goal is to <i>win</i> the American Rocketry Challenge and claim glory for New York City.</p>
    </div>
  </div>
  <div class="mission-holder column-start-flex">
    <div class="mission-title center-row-flex">Mission</div>
    <div class="mission-content-holder start-row-flex">
        <p class="mission-content mission-p">Our mission is to utilize the brilliant minds and schools of New York City to win the American Rocketry Challenge and bring New York City the glory it deserves. Doing this, we hope to inspire a new generation of aerospace engineers right out of New York City.</p>
    </div>
  </div>
  <div class="mission-holder column-start-flex">
    <div class="mission-title center-row-flex">Skills</div>
    <div class="mission-content-holder start-row-flex">
        <p class="mission-content mission-p">The most important thing our TARC team is looking for students with a passion to learn and succeed. Everything else comes second hand and can be taught through online resources, such as our <a class="nav-link-intext" href="/rocked">RockED</a> program. Understandings of material physics, projectile physics, computer operations, hardware programming, and craft skills are welcomed and are some of the skills you expect to learn as part of our team.</p>
    </div>
  </div>
  <div class="mission-holder column-start-flex">
    <div class="mission-title center-row-flex">Commitment and daily activities</div>
    <div class="mission-content-holder start-row-flex">
        <p class="mission-content mission-p">TARC is broken up into multiple small teams of size 3-10 in order to win the Team America Rocketry Challenege. We focus on lower to mid power rockets and build custom rockets carrying 44 grams egg payloads. Between September 1st, 2019, and April 6th, 2020, the rockets will need to be designed, built and flown to advance to finals. Daily and weekly assignments will be assigned and coordinated by team managers. As our student-base grows we will be able to organize teams by area, making daily meetings much more accessible. Though commitment will vary day to day or week to week you should expect to be putting in a solid few hours a week to ensure your team's success at TARC. In addition, scheduled launches will need to occur <i>outside</i> of New York City, meaning you will occasionally need to commute anywhere from 15 minutes to two hours.</p>
    </div>
  </div>
</div>
<div class="more-info-page" style="margin-top: 30vh;">
  <p id="content-title-main">Information for Prospective Members</p>
  <p id="regular-text">For more information on the actual competition please visit the <a href="https://rocketcontest.org/" target="_blank">american rocketry challenge website</a>, where you can learn about the <a href="https://3384f12ld0l0tjlik1fcm68s-wpengine.netdna-ssl.com/wp-content/uploads/2019/05/Event-Rules-TARC-2020-Final-as-of-18-May-2019.doc.pdf" target="_blank">2020 rules</a>, <a href="https://rocketcontest.org/about-the-contest/background/" target="_blank">contest background</a>, and more.</p>
  <p id="regular-text">Students joining the TARC section of NYC Aerospace will be assigned to a specific TARC team, dependant on location. Once members are assigned a certain team their team leader will organize meetings, assignments, team events, and launches. Members can also attend our larger events, which will be posted on the site when scheduled. Members will be notified of future steps once they fill out the <a href="/join"">Join Form</a>.</p>
  <p id="regular-text">Pictured below, Leon Maksin, Jude Rizzo, Sam Rosenstrauch, and Ivan Galakhov from our TARC team launch their rockets from CATO's launch site in Durham, Connecticut to get their level 1 High Powered Rocketry cerfifications with the National Association of Rocketry. They got to see dozens of rockets, and fly their own hand-built rockets!</p>
  <p id="regular-text"></p>
  <div class="start-row-flex" style="margin-left: 2vw;">
    <img src="/static/3.png" alt="Rocket Flying" style="height: 20vw;">
    <img src="/static/4.png" alt="Leaders Rockets" style="height: 20vw;">
  </div>
</div>
{% endblock %}
